.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 40px;
}

.menu-card {
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.menu-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.menu-card p {
  margin: 10px 0;
}
