/* 전체 페이지 레이아웃 */
.container {
    max-width: 1280px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-flow: row;
    gap: 10px;
}

/* 제목 스타일 */
h1 {
    text-align: center;
    color: #333;
}

/* 메뉴 카드 스타일 */
.menu-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}

/* 이미지 스타일 */
.menu-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* 날짜 및 사이드 메뉴 텍스트 스타일 */
.menu-card .date {
    font-size: 30px;
    font-weight: bold;
    color: #555;
    text-align: center;
}

.menu-card .side {
    font-size: 20px;
    font-weight: bold;
    color: #555;
    text-align: center;
}

/* 어드민 페이지 접근 버튼 */
.admin-button {
    background-color: #e3eed1;
    width: 100%;
    height: 6vh;
    margin-top: 20px;
    border: none;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-weight: 900;
    color: #555;
    cursor: pointer;
    transition: all 0.2s;
}

.admin-button:hover {
    background-color: #a7f7a7;
}

.main-box-1 {
    max-width: 800px;
}

/* 왼쪽 컬럼 (메뉴) */
.menu-column {
    flex: 1;
}

/* 오른쪽 컬럼 (리뷰) */
.review-column {
    flex: 1;
    margin-top: 9.5vh;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* 리뷰 작성 섹션 */
.review-input {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.review-input input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 4vh;
    font-size: 1rem;
}

.review-input button {
    padding: 0.5rem 1rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.review-input button:hover {
    background-color: #2980b9;
}

/* 리뷰 목록 */
.review-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.review-item {
    background-color: #fff;
    margin-bottom: 0.5rem;
    padding: 0.75rem;
    border-radius: 4px;
    border: 1px solid #eee;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.review-content {
    margin-bottom: 0.25rem;
    font-size: 14px;
}

.review-date {
    font-size: 12px;
    color: #666;
    text-align: right;
}

/* 별점 영역 */
.star-rating {
    display: flex;
    gap: 0.2rem;
    font-size: 24px; /* 별 크기 조절 */
    cursor: pointer;
    user-select: none;
    margin-bottom: 10px;
  }
  
  .star {
    color: #ccc; /* 기본 별 색상 (회색) */
  }
  .star:hover,
  .star:hover ~ .star {
    color: #ffc107; /* 호버 시 별 색상 (노란색) */
  }

  .review-rating {
    margin-bottom: 0.2rem;
    font-size: 1rem;
  }